#root {
  height: 100vh;
}

#left-panel{
  float: left;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

#middle-panel{
  float: left;
  width: 5%;
  height: 100%;
  overflow: scroll;
}

#right-panel{
  float: left;
  width: 65%;
  height: 100%;
  overflow: scroll;
}